*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: consolas;
}

body{
    height:100vh;
}

#header{
    background: linear-gradient(45deg, #3ace35, #1c7909);
    color: white;
    border-bottom: 2px solid black;
    font-size:2rem;
    animation: headerLoad 2s ease forwards;

    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1rem;

    top: 0;
    position: sticky;

    height:4rem;
}

#main{
    height: calc(100vh - 4rem - 2px);
    background: linear-gradient(135deg, rgb(200, 255, 200) 30%, rgb(100, 255, 100) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#subjectBlock{
    height: 5%;
    width: 95%;
    margin-bottom: 1rem;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:2rem;

}

.subject{
    padding:3px;
    height:100%;

    color: rgb(0, 50, 0);
    border-bottom: 2px solid rgb(0, 50, 0);
    border-radius: 0.2rem;
    background: linear-gradient(rgba(0,0,0,0) 85%, rgb(0, 50, 0));
    transition: color 0.5s ease;

    display:flex;
    align-items: end;
    font-size:3rem;

    user-select: none;
}

.selected{
    color:rgb(0, 220, 0);
    background: linear-gradient(rgba(0,0,0,0) 85%, rgb(0, 220, 0));
    border-bottom: 2px solid rgb(0, 220, 0);
}

.subject:hover{
    cursor:pointer;
    transform:scale(1.05);
}

#tutorBlock {
    display: flex;
    flex-wrap: wrap; 
    
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: auto; 
    
    width: 95%;
    height: 90%;
    
    border: 2px solid black;
    background: rgba(200, 200, 200, 0.5);
    
    gap: 1rem; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(10px);
    }
    to {
        opacity: 1; 
    }
}

.tutor {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(0px);
    
    animation: fadeIn 1s ease forwards;
    
    width: calc(20% - 1rem);
    
    box-sizing: border-box;
    
    color: white;
    padding: 1rem;
    
    *{
        /* user-select: none; */
    }

    .tutorName{
        font-size: 2rem;
        transition: font-size 0.3s ease;
        border-bottom: 1px solid white;
        margin-bottom: 1rem;
        padding-bottom: 3px;
    }

    .day{
        font-size: 1.3rem;
    }

    .shift {
        font-size: 1rem;
    }
}

.tutor:hover {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.27);

    .tutorName {
        font-size: 2.3rem;
    }
}

